
BODY{
  text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;

  }
  .introo{
  background-image: url("../image/marvel.jpg");
  background-repeat: no-repeat;
background-size: cover;
background-color: transparent;
background-position: 50% 50%;

min-height: 0px;
padding-top: 319px;
padding-bottom: 319px;
}

h1{


font-family: 'Marvel', sans-serif;
font-weight:bolder;
color:white;
font-size: 6rem;
position:relative;
bottom:100px;
}
.linkk{
  color:black;
}

hr{
  color:white;
  width:40%;
border:solid white 0.1px;
border-bottom: none;
margin: auto;
position:relative;
bottom:100px;
}
h3{
  font-size: 2rem;
font-weight: 600;
color:white;
font-family: 'Viaoda Libre', cursive;
bottom:280px;
margin-top:30px;
margin-bottom:30px;
}
.profile{

  padding-top:0px;
padding-bottom:30px;

background-image: url("../image/marv.jpg");
margin:5px 0px 5px 0px;
background-repeat: no-repeat;
background-size: cover;
background-color: transparent;
background-position: 50% 50%;

min-height: 0px;
padding-top:;
padding-bottom:100PX;
padding-top:100px;
}
.and{ width:70%;
PADDING-top:100px;
BACKGROUND-COLOR:#22A39F;
line-height: 2;

}
.hi{font-weight: lighter;
  font-size: 2rem;
  color:white;
  font-style: 'Open Sans Condensed', sans-serif;
}
.oneone{
  word-spacing: 2.9px;
  width:50%;
  margin:auto;
  padding-bottom:100px;
  font-size: 1.5rem;
  font-weight:lighter;
  color:white;
font-family: 'Open Sans Condensed', sans-serif;
}
table{width:50%;
margin:auto;
text-align: left;
padding-bottom:80px;
padding-right:50px;
padding-top:50px;

line-height: 3;


}
.skilll{
  padding-bottom: 0px;
  font-size:2rem;
  color:black;
  padding-top:100px;
width:50%;
margin:auto;
text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}
.abi{text-align: center;
padding-bottom: 0px;
padding-top:50px;
font-size: 3.5rem;
padding-top:150px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  color:black;
}
.animate__backInRight{ animation-duration: 5s;}
.animate__backInLeft{animation-duration: 5s;}
.animate__backInUp{animation-duration: 3s;}
.table2{

  padding-top:80px;
  width:50%;
  margin:auto;
  padding-right: 0px;
  padding-bottom:80px;
  padding-left:;
  line-height: 3;
}
.sec-con{font-size: 1.5rem;
background-color: #CDF0EA;
color:black;
padding-top:50px;
}
.Abiliti{
  width:50%;
border:solid white 1px;
border-bottom: none;
margin: auto;
border-color:black;
}
.skillll{
  font-size:2rem;
color:black;
  padding-top:200px;

margin:auto;
text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}
.partition{
  position: relative;
  top:100px;
  margin-bottom:50px;
  width:50%;
border:solid white 1px;
border-bottom: none;
margin: auto;
border-color:black;}
#features{
  padding:10% 20%;
}
.sec-conn
  {font-size: 1.5rem;
  background-color:#22A39F;
  color:black;
  padding-top:50px;
margin-top:5px;
line-height: 3;

padding-bottom:100px;
}
.abii{text-align: center;


font-size: 3.5rem;
padding-top:150px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  color:black;
}
.partitionn{  position: relative;
  top:50px;
  margin-bottom:0px;
  width:50%;
border:solid white 1px;
border-bottom: none;
margin: auto;
border-color:black;}
.table3{  padding-top:30px;
  width:50%;
  margin:auto;
  padding-right: 0px;
  padding-bottom:80px;
  padding-left:;
  line-height: 3;}
.car{
  background-image: url("../image/marv (1).jpg");
 
  margin-top:5px;
  margin-bottom: 5px;
  padding-top:25px;
  padding-bottom: 50px;

}
.h3{color:white;
  font-size:1.5rem;
font-weight: lighter;
padding-left:100px;
padding-right:100px;}

.endgame{padding-top:100px;
  margin-top:5px;
padding-bottom:100px; background-color: black;
background-image: url("../image/22222.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: transparent;
background-position: 50% 50%;
}

.lasthr{
width:100%;
border:solid white 1px;
border-bottom: none;
margin: auto;
border-color:#22A39F;
position:relative;
top:2px;
margin-bottom: 80px;
}
.loko{ color:#22A39F;padding-bottom: 30px;font-family: 'Open Sans Condensed', sans-serif;font-size: 3.5rem;font-weight: bolder;}
.poko{color:#22A39F;font-size: 1.5rem;}
.lnkde{width:50%;
margin:auto;}
.ANU{color:#22A39F;}
.btn{}

